h1 {
  font-size: 18px;
}

.Firstpart {
  color: green;
  font-size: 14px;
}

h2 {
  font-size: 18px;
}

.secondpart {
  color: red;
  font-size: 14px;
}

.Thirdpart {
  color: blue;
  font-size: 14px;
}
